{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h4 class="left">About</h4>
    <h5 class="left">Ayana and Cana</h5>
    <p class="left_indent">
       Hello, and welcome to our website! Thank you so much for visiting! We are Ayana and Cana, two first-years at Harvard College from Tokyo, Japan, and this is our final project for <a href="https://cs50.harvard.edu/college/2020/spring/" style="color: gray">CS50</a>.
       Both of us love reading, writing, and literature in general, and hope you will enjoy browsing through the content on this site. Please feel free to reach out to us at <a href="mailto:agathaslibrary@gmail.com" style="color: gray">agathaslibrary@gmail.com</a> or consider submitting an
       original piece of your own for this website by going to the <a href="/contact" style="color: gray">Contact</a> page.
    </p>
    <h5 class="left">Agatha's Library</h5>
    <p class="left_indent">
       We named this site "Agatha's Library" after Mary Shelley's character Agatha De Lacey from <em>Frankenstein; or, the Modern Prometheus</em>.
       In the novel, Agatha and her family are secluded or "quarantined" in a cabin in Germany and the one bright spot of their lives is when Agatha's older brother, Felix De Lacey, reads aloud.
       In the same spirit, we hope you will find a story or essay on our site that sparks a little bit of joy for you!
    </p>
    <p class="left">Thank you to Leonie Finke, a friend of the creators', for designing our logo!</p>

{% endblock %}