{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}

<!-- Display after user has submitted a story -->
{% if request.method == "POST" %}
<h5 class="left" style="margin-bottom: 1cm">Thank you for submitting! We will contact you shortly.</h5>
<p class="left">In the meantime, please take a look at <a href="/browse" style="color: grey">our current collection.</a></p>

<!-- Define the countdown function -->
<p class="left" id="countdown"></p>
<meta http-equiv="refresh" content="10;/browse" />
<script
>var timeleft = 10;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    document.getElementById("countdown").innerHTML = "Finished";
  }
  else {
    document.getElementById("countdown").innerHTML = "Redirecting to Browse Page in " + timeleft + " seconds.";
  }
  timeleft -= 1;
}, 1000);
</script>

<!-- Display a contact form -->
{% else %}
<h4 class="left">Contact</h4>
<p class="left">Please help us expand our collection by sending your original stories.</p>

<form action="/contact" method="post" class="needs-validation" novalidate style="text-align: left">
  <div class="col-md-4 mb-3">
    <label for="validationCustom01">Name</label>
    <div class="input-group">
      <input type="text" class="form-control" name="name" id="validationCustom01" required>
      <div class="invalid-feedback">
        Name is required.
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom02">Email</label>
    <div class="input-group">
      <input type="email" name="email" class="form-control" id="validationCustom02" required>
      <div class="invalid-feedback">
        Email is required.
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom03">Story Title</label>
    <div class="input-group">
      <input type="text" name="title" class="form-control" id="validationCustom03" required>
      <div class="invalid-feedback">
        Story title is required.
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom04">Paste in your story below.</label>
    <div class="input-group">
      <textarea type="text" name="text" class="form-control" id="validationCustom04" required style="height: 200%"></textarea>
      <div class="invalid-feedback">
        The text of your story is required.
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
  <button class="btn btn-outline-dark" type="submit">Submit form</button>
  </div>
</form>

<!-- Javascript for validation -->
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endif %}

{% endblock %}