<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/books/ -->
        <link href="/static/favicon-32x32.ico" rel="icon">
        <link href='https://fonts.googleapis.com/css?family=Amiri' rel='stylesheet'>

        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Agatha's Library: Welcome </title>

    </head>

    <body style="background-color:#eaeaea;">


        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main role="main" class="inner cover">
            <img src={{url_for('static', filename='logo.png')}} alt="logo" height=474 width=720>

            <p class="lead">Welcome to Agatha's Library! We are a digitial collection of short stories. Enjoy!</p>

            <div class="btn-group lead" role="group" aria-label="Options">
                <a class="btn btn-lg btn-outline-dark" href="/register">Register</a>
                <a class="btn btn-lg btn-outline-dark" href="/login">Login</a>
                <a href="/browse" class="btn btn-lg btn-outline-dark">Continue Without Logging In</a>
            </div>


        </main>

        <footer class="small text-center text-muted" style="padding: 4em 0 0 0;">
            Made by Ayana and Cana.

        </footer>
    </body>

</html>

